body{
    background-color: #414141;
    color: #fff;
}
nav{
    background-color: #fff;
    padding: 10px;
    text-align: center;
}
nav a{
    text-decoration: none;
    color: #fff;
    margin: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #414141;
    padding: 5px;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
h1{
    text-align: center;
    text-wrap: wrap;
}
.button{
    display: inline-block;
    margin: 0 auto;
    width: 130px;
    height: 130px;
    border: black 2px solid;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}
h2{
    text-align: center;
    text-wrap: wrap;
}
#red{
    background-color: red;
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}